.logoDino{
    padding: auto;
}
.top-bar {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1e4d65;
    padding: 10px 20px;
    border-radius: 5px;
    border: solid 1px #D7DBE4;
    box-shadow: 0px 0px 8px #D7DBE4 \9;
    transition: all 0.3s ease;
}

/* lado esquerdo (título) */
.top-bar .left h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

/*nome no canto esquerdo ~HF*/
.titulo{
    background-color: #D7DBE4;
    border-radius: 25px;
    padding: 3px 10px;
    color:#1A1E4D;
    font-size: 18px;
}

/* barra de pesquisa e filtro */
.top-bar .center {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.top-bar .center input[type="text"] {
    padding: 5px;
    border: 3px solid #D7DBE4;
    border-radius: 2px;
    width: 100%;
    margin-right: 10px;
    background-color: #1A1E4D;
    color: #D7DBE4;
    font-size: 16px;
}

.filter-dropdown {
    position: relative;
    display: inline-block;
}

.filter-button {
    background-color:#d7dbe400;
    color:#D7DBE4;
    cursor: pointer;
    height: 30px;
    border-radius: 100px;
    border: none;
    width: 70px;
    font-size: 16px;
}

.logo {
    text-decoration: none; /* Remove underline */
    color: white; /* Cor do texto da logo */
    font-size: 24px;
}

.logo:hover {
    color: #c713a9; /* Cor ao passar o mouse */
}

.dropdown-content {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: #d7dbe4e3;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*Adiciona um caret(▼) ao lado de categorias ~HF*/
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle\9;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #D7DBE4;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.filter-dropdown:hover .dropdown-content {
    display: block;
}

/* login/perfil e carrinho */
.top-bar .right {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

/* Agrupar perfil e carrinho em um contêiner */
.profile-cart {
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    margin-left: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);  /* Efeito de hover para ampliar os ícones */
}

/* Estilo do botão de login */
.login-button {
    background-color: rgba(255, 217, 0, 0);
    color:#D7DBE4;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    border: 3px solid #D7DBE4;
    margin-left: 20px; /* Garantir que o botão de login tenha um espaçamento adequado */
}

.login-button:hover {
    background-color:rgba(255, 217, 0, 0);
    color: #c713a9;
    border: 3px solid #c713a9;
    transform: scale(1.1); /* copiei isso do icone de login ~HF*/
}

/* Ajuste para garantir que os ícones fiquem lado a lado */
.profile-cart .icon {
    margin-left: 10px; /* Espacamento entre os ícones de perfil e carrinho */
}

/* background ~HF*/
body{
    /*background-color: rgb(10, 10, 10);*/
    background-image: url('./image/back.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}/* barra superior */
.top-bar {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1e4d65;
    padding: 10px 20px;
    border-radius: 5px;
    border: solid 1px #D7DBE4;
    box-shadow: 0px 0px 8px #D7DBE4 \9;
}

/* lado esquerdo (título) */
.top-bar .left h1 {
    margin: 0;
    font-size: 24px;
}

/*nome no canto esquerdo ~HF*/
.titulo{
    background-color: #D7DBE4;
    border-radius: 25px;
    padding: 3px 10px;
    color:#1A1E4D;
}
/* barra de pesquisa e filtro */
.top-bar .center {
    display: flex;
    align-items: center;
}

.top-bar .center input[type="text"] {
    padding: 5px;
    border: 3px solid #D7DBE4;
    border-radius: 2px;
    width: 400px;
    margin-right: 10px;
    background-color: #1A1E4D;
    color: #D7DBE4;
}

.filter-dropdown {
    position: relative;
    display: inline-block;
}

.filter-button {
    background-color:#d7dbe400;
    color:#D7DBE4;
    cursor: pointer;
    height: 30px;
    border-radius: 100px;
    /* font-weight: bold; */
    border: none;
    width: 70px;
}

.logo {
    text-decoration: none; /* Remove underline */
    color: white; /* Cor do texto da logo */
}

.logo:hover {
    color: #c713a9; /* Cor ao passar o mouse */
}

.dropdown-content {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: #d7dbe4e3;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*Adiciona um caret(▼) ao lado de categorias ~HF*/
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle\9;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #D7DBE4;
  }

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.filter-dropdown:hover .dropdown-content {
    display: block;
}

/* login/perfil e carrinho */
.top-bar .right {
    display: flex;
    align-items: center;
}

/* Agrupar perfil e carrinho em um contêiner */
.profile-cart {
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    margin-left: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);  /* Efeito de hover para ampliar os ícones */
}

/* Estilo do botão de login */
.login-button {
    background-color: rgba(255, 217, 0, 0);
    color:#D7DBE4;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    border: 3px solid #D7DBE4;
    margin-left: 20px; /* Garantir que o botão de login tenha um espaçamento adequado */
}

.login-button:hover {
    background-color:rgba(255, 217, 0, 0);
    color: #c713a9;
    border: 3px solid #c713a9;
    transform: scale(1.1); /* copiei isso do icone de login ~HF*/
}

/* Ajuste para garantir que os ícones fiquem lado a lado */
.profile-cart .icon {
    margin-left: 10px; /* Espacamento entre os ícones de perfil e carrinho */
}
/* background ~HF*/


body{
    /*background-color: rgb(10, 10, 10);*/
    background-image: url('./image/back.jpg');
    font-family: 'Roboto', sans-serif; /* Definindo a fonte para o corpo da página */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


