.item {
    width: 350px;
    background-color: #ffffff;
    transition: transform 0.3s, border 0.3s;
}

.item p {
    margin: 6px 0px;
}

.item-prices {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30px;
    border-radius: 3px;
    background: #006eff;
    text-transform: uppercase;
    cursor: pointer;
    gap: 20px;
    margin: auto;
}

.item-prices-new {
    color: #D7DBE4;
    font-size: 18px;
    font-weight: 600;
    margin: auto;
}

.item:hover {
    transform: scale(0.95);
    border: 1px solid rgb(13, 0, 255);
}