.cart-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  background-color: #1a1e4d65;
  height: 350px;
  margin-top: 100px;
  box-shadow: 0px 0px 8px #D7DBE4;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.cart-container h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 0;
}

.cart-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-grow: 1;
}

.cart-container li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
  transition: background-color 0.3s ease;
}

.cart-container li:hover {
  background-color: #2f3640;
}

.cart-container li:last-child {
  border-bottom: none;
}

.cart-container img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
  font-size: 16px;
}

.cart-container button:hover {
  background-color: #0056b3;
}

.cart-container p {
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
}

.cart-container .clear-cart {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e030ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  font-size: 18px;
}

.cart-container .clear-cart:hover {
  background-color: #8d09b2;
}